<link rel="stylesheet" type="text/css" href="/css/home.css">
	<!-- partials -->
	<!-- <%-include('_header')%> -->
	<h1>Connect-i / <%= title %></h1>
	<!-- <%-include('_footer')%> -->
	<section id="feed-posts">
		<h3>Posts</h3>
		<form action="" id="new-post-form" method="POST">
			<textarea name="content" cols="30" rows="3"></textarea>
			<input type="submit" value="Post">
		</form>
	</section>
