<h3>User Sign-In</h3>
<form>
	<label>
		Email:
	</label>
	<input type="email" name="email" placeholder="Enter Your Email" required><br><br>
	<label>
		Password:
	</label>
	<input type="text" name="password" placeholder="Enter Your Password" required><br><br>
	<input type="submit" name="signin" value="Log-In">
</form>