<h3>User Sign-In</h3>
<form action="/users/create-session" method="POST">
	<label>
		Email:
	</label>
	<input type="email" name="email" placeholder="Enter Your Email" required><br><br>
	<label>
		Password:
	</label>
	<input type="password" name="password" placeholder="Enter Your Password" required><br><br>
	
	<input type="submit" value="Log-In">
</form>
<p>
	<a href="/users/oauth/google">Google Sign In/Sign Up</a>
</p>